header {
    display: flex;
}
.nav button{
    width: 100px;
    height: 30px;
    background-color: #51a1de;
    border-radius: 10px;
    font-family: sans-serif;
}
.categorias{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    margin-top: 80px;
}
#section-vendidos{
    text-align: center;
    font-family: sans-serif;
    margin-top: 80px;
}
#section-vendidos{
    font-weight: bold;
    padding: 20px;
}
#section-vendidos img{
    height: 300px;
    border-radius: 10px;
    width: 300px;
}
#section-vendidos .card{
    display:block ;
    margin: 5px;
    border: 1px;
    border-radius: 10px;
    
}
.card-title{
    margin-top: 5px;
    margin-bottom: 5px;
}
#section-vendidos .preço{
    color:red;
    font-size: 18px;
    font-weight: bold;
    padding-top: 17px;
    padding-bottom: 7px;
} 

#carouselExampleControls img {
    width: 100%px;
    height: 600px;
}

footer{
     text-align: center;
}
footer p{
    font-weight: bold;
    padding:10px;
    font-family: sans-serif ;
}
#voltar-topo{
    position: fixed;
    bottom: 5px;
    right: 50px;
}
#section-login{
    margin-top: 100px;
    font-family: sans-serif;
}
#section-login h1{
    text-align: center;
}
#section-login input{
    width: 100%;
}
#bt-login{
    margin-top: 15px;
}

#form-cadastrar{
    padding: 50px;
    display: none;
}
.bnt-info{
    margin-top: 40px;
    margin-left: 615px;
    border-radius: 7px;
    width: 300px;
    height: 40px;
    font-family: sans-serif;
    border: none;
    background-color: #51a1de;
}
.mb-3{
    margin-top: 10px;
    margin-left: 600px;
}
